body {
  background-color: #d9d2c6;
  color: #3a3124;
  font-family: 'Overpass Mono', monospace;
  font-size: 2vw;
  font-weight: 300;
  line-height: 1.4;

  margin-top: 32px;
  margin-right: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
}

header {
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
}

header p {
  text-align: center;
  padding-top: 1rem;
}

h1 {
  color: #ed3f1c;
  font-size: 7.5vw;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: #bf1b1b;
  font-size: 5vw;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  color: #f0a24f;
  font-size: 7vw;
  font-weight: 600;
  padding-top: 1.5rem;
}

h4 {
  color: #bf1b1b;
  font-size: 3vw;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
}
